{{> nav/nav-block}}

<div id="main-container" class="container">
  {{#if isloggedin}}
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead"> {{user.firstName}}'s Dashboard </p> 
    <div>
      
    <div class="content">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#assignmentsDiv">Assignments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#disscussionDiv">Discussion</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#teacherTalkDiv">TeacherTalk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#resourcesDiv">Resources</a>
      </li>
      
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
     <!-- Tab 1--> 
      <div id="assignmentsDiv" class="tab-pane active">
        
      </div>
      <!-- Tab 2--> 
      <div id="disscussionDiv" class="tab-pane">    
        {{> tabs/student-tabs/student-discussion}}  
      </div>
      <!-- Tab 3--> 
      <div id="teacherTalkDiv" class="tab-pane">
        
      </div>
       <!-- Tab 4--> 
      <div id="resourcesDiv" class="tab-pane">
        
      </div>

      
    </div>
  </div>
</div>
      {{else}}
        
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>



