{{> nav/nav-block}}

<div id="main-container" class="dashboard-container col-10 offset-1">
  {{#if isloggedin}}
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead"> {{user.firstName}}'s Dashboard </p> 
    <div>
      
    <div class="col-10 offset-1">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#assignmentsDiv">My Child</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#FAQDiv">FAQ</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#teacherTalkDiv">TeacherTalk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#resourcesDiv">Resources</a>
      </li>
      
    </ul>

    <!-- Tab panes -->
    <div class="dashboard-tab-content">
     <!-- Tab 1--> 
      <div id="assignmentsDiv" class="tab-pane active">
        {{> tabs/parent-tabs/my-child}} 
      </div>
      <!-- Tab 2--> 
      <div id="FAQDiv" class="tab-pane">    
        {{> tabs/parent-tabs/faq}}  
      </div>
      <!-- Tab 3--> 
      <div id="teacherTalkDiv" class="tab-pane">
         {{> tabs/parent-tabs/teach-talk}} 
      </div>
       <!-- Tab 4--> 
      <div id="resourcesDiv" class="tab-pane">
        {{> tabs/parent-tabs/resources}}
      </div>

      
    </div>
  </div>
</div>
      {{else}}
        
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>



