{{> nav/nav-block}}

<div id="main-container" class="dashboard-container col-10 offset-1">
  {{#if isloggedin}}
  <div class="jumbotron text-center header-wrap" align="center">
    <p class="lead"> {{user.honorific}} {{user.lastName}}'s Teacher Dashboard </p> 
    <div>
      
    <div class="col-10 offset-1">
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#rosterDiv">Roster</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#assignmentsDiv">Assignments</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#teachTalkDiv">Teacher-Talk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#resourcesDiv">Resources</a>
      </li>
      
    </ul>

    <!-- Tab panes -->
    <div class="tab-content dashboard-tab-content">
     <!-- Tab 1--> 
      <div id="rosterDiv" class="tab-pane active">
        {{> tabs/teacher-tabs/class-roster}}
      </div>
      <!-- Tab 2--> 
      <div id="assignmentsDiv" class="tab-pane">    
        {{> tabs/teacher-tabs/assignments}} 
      </div>
      <!-- Tab 3--> 
      <div id="teachTalkDiv" class="tab-pane">
        {{> tabs/teacher-tabs/teach-talk}}
      </div>
       <!-- Tab 4--> 
      <div id="resourcesDiv" class="tab-pane">
        {{> tabs/teacher-tabs/resources}}
      </div>

      
    </div>
  </div>
</div>
      {{else}}
        
      {{/if}}
      <h5 id="login-err-msg"></h5>
    </div>
  </div>

{{> modal/resources-modal}}
{{> modal/resource-update-block}}
{{> modal/assignment-modal}}
{{> modal/assign-update-block}}

<script src="/assets/js/teacher.js"></script>
<script>
  var userId = {{user.id}};
</script>



