<div class="modal dashboard-modal" id="add-assignment-modal" tabindex="-1">
  <div class="content dashboard-modal-container" id="add-assignment-container">
    <h1>Add A New Assignment</h1>
    <div id="add-assignmentDiv" class="text-left">
        <form id="addAssignmentForm" name="addAssignmentForm" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label for="inputAssignmentName">Assignment Name</label>
            <input type="text" class="form-control is-valid" id="assignment-title" placeholder="Example: Fractions Worksheet 1.5">
          </div>
          <div class="form-group">
            <label for="assignmentCategory">Category</label>
            <select name="category" class="form-control is-valid" id="assignment-descrip" placeholder="Category">
              <option value="Math">Math</option>
              <option value="Science">Science</option>
              <option value="Social Studies">Social Studies</option>
              <option value="ELA">ELA</option>
            </select>
          </div>
          <div class="form-group">
            <label for="dueDate">Due Date</label>
            <input id="due-date" name="dueDate" type="date">
          </div>
          <button id="add-assignment" type="submit" class="btn btn-secondary">Add</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
  
  </div>
</div>
  