<div class="modal" id="update-assignment-modal" tabindex="-1">
  <div class="content" id="update-assignment-container">
    <h1>Update Assignment Details</h1>
    <div id="add-assignmentDiv" class="text-left">
      <h3 id="assignment-detail-id"></h3>
        <form id="submit-assignment-form" name="addAssignmentForm" enctype="multipart/form-data" method="post">
          <div class="form-group">
            <label for="inputAssignmentName">Link to your assignment:</label>
            <input type="text" class="form-control is-valid" id="assignment-link" placeholder="Paste the link to your assignment here">
          </div>
          <button id="submit-assignment" type="submit" class="btn btn-secondary">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
  
  </div>
</div>
  