<div class="modal" id="user-info" tabindex="-1">
<div class="content login-container" >

  <div class="jumbotron header-wrap">
     {{!-- <div class="col-10 offset-1"> --}}
    <!-- Nav pills -->
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#loginDiv">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#regis">Register</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content login-tab-content">
      
      <div id="loginDiv" class="tab-pane active">
        <form>
          <div class="form-group">
            <label for="inputAccount">Email address</label>
            <input type="email" class="form-control is-valid" id="email" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="inputAccount">Password</label>
            <input type="password" class="form-control is-invalid" id="user_password" placeholder="Password">
          </div>
          <button id="login" type="submit" class="btn btn-secondary">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>

      <div id="regis" class="tab-pane fade">
        <form>
          <div class="form-group">
            <label for="honorific">Honorific</label>
            <select name="honorific" class="form-control is-valid" id="honorific" placeholder="Honorific">
              <option value="Dr.">Dr.</option>
              <option value="Mrs.">Mrs.</option>
              <option value="Ms.">Ms.</option>
              <option value="Miss">Miss</option>
              <option value="Mr">Mr.</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputFirst">First Name</label>
            <input type="text" class="form-control is-valid" id="inputFirst" placeholder="First Name">
            <small id="formHelp" class="form-text text-muted">Please use your legal first name.</small>
          </div>
           <div class="form-group">
            <label for="inputLast">Last Name</label>
            <input type="text" class="form-control is-valid" id="inputLast" placeholder="Last Name">
            <small id="formHelp" class="form-text text-muted">Please use your legal last name.</small>
          </div>
          <div class="form-group">
            <label for="inputRole">Role</label>
            <select name="role" class="form-control is-valid" id="inputRole" placeholder="Role">
              {{!-- <option value="null">Select</option> --}}
              <option value="parent">Parent</option>
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control is-valid" id="inputEmail" placeholder="name@example.com">
            <small id="formHelp" class="form-text text-muted">You will use this email address as your login username.</small>
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control is-invalid" id="inputPassword" placeholder="Password">
            {{!-- <small id="emailHelp" class="form-text text-muted">Password incorrect.</small> --}}
          </div>
          {{!-- <div class="form-group">
            <label for="exampleInputPasswordVer">Verify Password</label>
            <input type="password" class="form-control is-invalid" id="exampleInputPasswordVer" placeholder="Password">
          </div> --}}
          <button type="submit" class="btn btn-secondary" id="add-user">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
  {{!-- </div> --}}
  </div>
</div>