body {
  color: white;
  background-size: cover;
  height:100%; 
  background-image: url("/assets/css/images/villageSTEPs.png") !important;
  background-repeat: no-repeat;
  background-color: #3E6977;
}

.jumbotron {
  background: rgba(0,0,0,0);
  height: auto;
}

.nav {
  font-family: 'Oswald', sans-serif;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: rgba(86, 101, 115,.6);
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 80%;
}

.content{
  width: 450px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

/*---Modal---*/
.modal {
  color: black;
}

label {
  font-family: 'Oswald', sans-serif;
}

.form-control {
  font-family: 'Oswald', sans-serif;
}

.btn {
  color:white;
  background:#cadde1;
  border: 1px solid white;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: red !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.dashboard-container {
  padding-bottom: 2%;
  margin-top: 7%;
  /* background: rgba(86, 101, 115,.6); */
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 80%;
  height: fit-content;
}

.login-container {
  padding-bottom: 2%;
  margin-top: 25px;
  border-radius: .25rem;
  margin-bottom: 2%;
  margin-left: 10%;
  width: auto;
  height: fit-content;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Eczar', serif;
  margin-bottom: 0;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #444;
}
/*----------------------*/

.nav-pills{
  width: 100%;
  align-items: center;
}

.nav-item{
  width: 25%;
}

.nav-pills .nav-link{
  font-weight: bold;
  padding-top: 13px;
  text-align: center;
  background: #99999f;
  color: #fff;
  border-radius: 30px;
  height: 100px;
}
#profile-link {
  margin-right: 25px !important;
  margin-left: 25px;
}

#logout-link {
  margin-left: 25px !important;
}

#nav-pills .nav-link.active{
  background: #fff;
  color: #000;
}

.dashboard-tab-content{
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}

.login-tab-content {
  position: absolute;
  width: 80%;
  height: auto;
  margin-top: -50px;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
  margin-bottom: 50px;
}

.tab-content button{
  border-radius: 15px;
  width: 100px;
  margin: 0 auto;
  float: right;
}

.tabDiv {
  width: 100%;
}

#profile-container {
  font-family: 'Eczar', serif;
  width: 55%;
  height: auto;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  align-self: center;
}

#profile-form {
  padding: 0 !important;
}

.profile-header {
  padding-top: 20px;
}

.add-resource-container {
  font-family: 'Eczar', serif;
  width: 55%;
  height: auto;
  background: #fff;
  color: #000;
  border-radius: 30px;
  z-index: 1000;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  align-self: center;
}

#add-resource-btn {
  color:rgb(255, 255, 255) !important;
  background:#3e6977ff;
  border: 2px solid #b6881bff;
  border-radius: 15px;
}